body {
    background-image: url(../img/backphoto.png);
    font-family: "Montserrat Alternates";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
}