<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <section class="age">
        <div class="container">
            <h1 class="age__bosstitle">Популярні інетрактивні ігри</h1>
            <hr class="age__line">
            <h2 class="age__title">Перевір в який рік ти народився</h2>
            <input type="" placeholder="Введіть рік народження" class="age__input">
            <button type="submit" class="age__btn"></button>
            
        </div>
    </section>
<!-- </body>
</html> -->