<section class="calculator">
  <div class="container">
    <div class="calculator__box">
      <h2 class="calculator__title">Калькулятор</h2>
      <div class="calculator__boxing">
      <input
        class="calculator__input-first"
        placeholder="Введіть число"
      />
      <div>
      <div class="calculator__operators">
        <button type="button" class="calculator__btn-plus">+</button>
        <button type="button" class="calculator__btn-minus">-</button>
        <button type="button" class="calculator__btn-multiply">*</button>
        <button type="button" class="calculator__btn-divide">/</button>
      </div>
      </div>
      <input
        class="calculator__input-second"
        placeholder="Введіть число"
      />
      <button type="button" class="calculator__btn-eqveals">=</button>
      <input
        type="text"
        class="calculator__input-third"
        placeholder="Результат"
        readonly
      />
      </div>
    </div>
    </div>
  </div>
</section>

