<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <input
      type="number"
      class="calculator__input-first"
      placeholder="Введіть число"
    />
    <div class="calculator_operators">
      <button type="button" class="calculator__btn-plus">+</button>
      <button type="button" class="calculator__btn-minus">-</button>
      <button type="button" class="calculator__btn-multiply">*</button>
      <button type="button" class="calculator__btn-divide">/</button>
    </div>
    <input
      type="number"
      class="calculator__input-second"
      placeholder="Введіть число"
    />
    <button type="button" class="calculator_btn-eqveals">=</button>
    <input
  type="text"
  class="calculator__input-third"
  placeholder="Результат"
  readonly
/>