<section class="exercises">
<div class="container">
    <h2 class="exercises__title">Обери вченого/их</h2>
    <ul class="exercises__list"></ul>
    <ul class="exercises__listofbuttons">
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Які вчені народилися в 19 ст.
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Знайти вчених, прізвища яких починаються на на літеру “С” 
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Знайти вченого, який прожив найдовше і вченого, 
          який прожив найменше
        </button>
      </li>
      <li class="exercises__btn">
        <button type="button" class="exercises__button">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>

