<div class="modal-overlay" id="modal-overlay"></div>
<div class="modal-footer" id="subscribe-modal">
  <button class="modal-footer__close" id="modal-close">
    <img
      src="../img/close-modal.png"
      alt="close-modal"
      class="modal-footer__img"
    />
  </button>
  <h3 class="modal-footer__text">Дякую за підписку!</h3>
  <img src="../img/sword.png" alt="sword" class="modal-footer__sword" />
  <img src="../img/puzzle.png" alt="puzzle" class="modal-footer__puzzle" />
  <img
    src="../img/tictac-modal.png"
    alt="tictac"
    class="modal-footer__tictac"
  />
  <img src="../img/game-modal.png" alt="games" class="modal-footer__games" />
</div>


