<section class="footer">
  <div class="container">
    <img src="images/logo.png" alt="Coding Magic logo" class="footer_logo" />
    <address class="footer_contacts">
      <ul class="footer_list">
        <li class="footer_item">
          <a href="tel:+381234567890" class="footer_tel">Тел: +38 (123) 456 78 90</a>
        </li>
        <li class="footer_item">
          <a href="mailto:codingmagic@gmail.com" class="footer_email">E-Mail: codingmagic@gmail.com</a>
        </li>
        <li class="footer_item">
          <a href="https://facebook.com/CodingMagic" target="_blank" class="footer_facebook">Facebook: CodingMagic</a>
        </li>
        <li class="footer_item">
          <a href="https://twitter.com/CodingMagic" target="_blank" class="footer_twitter">Twitter: CodingMagic</a>
        </li>
        <li class="footer_item">
          <a href="https://instagram.com/CodingMagic" target="_blank" class="footer_instagram">Instagram: CodingMagic</a>
        </li>
      </ul>
    </address>
    <form class="footer_form" id="subscribe-form">
      <input 
        type="email" 
        class="footer_input" 
        placeholder="Ваш e-mail..." 
        required 
      />
      <button type="submit" class="footer_btn">Підписатись</button>
    </form>
    <p class="footer_text">
      *Підписавшись, Ви зможете отримувати інформацію про новинки на сайті
    </p>
  </div>
</section>