<header class="header">
    <div class="container header_box">
        <div class="header_bin">
        <a class="header_ref">
            <svg class="header_svg">
                <use></use>
            </svg>
        </a>
        <ul class="header_list">
            <li class="header_item">
                <a class="header_link">Coding</a>
            </li>
            <li>
                <a class="header_link">Magic</a>
            </li>
        </ul>
        </div>
        <nav class="header_nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a class="nav_link">Інтерактив</a>
                    <button class="nav_btn">
                        <svg class="nav_svg">
                            <use></use>
                        </svg>
                    </button>
                </li>
                <li class="nav_item">
                    <a class="nav_link">Наша команда</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link">Контакти</a>
                </li>
            </ul>
        </nav>
        <div class="header_div">
            <button class="header_btn">
                <svg class="header_svgdiv">
                    <use></use>
                </svg>
            </button>
            <p class="header_text">Вітаємо, User!</p>
        </div>
    </div>
</header>