<section class="largest-number">
  <div class="container">
    <div class="largest-number__border"></div>
    <h2 class="largest-number__title">Введіть 3 числа</h2>
    <ul class="largest-number__list">
      <li class="largest-number__item">
        <input type="text" class="largest-number__input" id="input-1" placeholder="Введіть число"/>
      </li>
      <li class="largest-number__item">
        <input type="text" class="largest-number__input" id="input-2" placeholder="Введіть число"/>
      </li>
      <li class="largest-number__item">
        <input type="text" class="largest-number__input" id="input-3" placeholder="Введіть число"/>
      </li>
    </ul>
    <div class="largest-number__change">
      <p class="largest-number__text">Найбільше число, яке ви ввели - <span class="largest-number__num" id="result2"></span></p>
    </div>
    <div class="largest-number__brd"></div>
  </div>
</section>