<section class="largest-number">
  <div class="container">
    <div class="largest-number__border"></div>
    <h2 class="largest-number__logo">Введіть 3 числа</h2>
    <ul class="largest-number__list">
      <li class="largest-number__item">
        <input type="text" class="largest-number__input" placeholder="Введіть число"/>
      </li>
      <li class="largest-number__item">
        <input type="text" class="largest-number__input" placeholder="Введіть число"/>
      </li>
      <li class="largest-number__item">
        <input type="text" class="largest-number__inp" placeholder="Введіть число"/>
      </li>
    </ul>
    <div class="largest-number__change">
      <p class="largest-number__text">Найбільше введене число -</p>
      <p class="largest-number__num"></p>
    </div>
    <div class="largest-number__brdr"></div>
  </div>
</section>
