<div class="backdrop">
    <div class="modal" id="data__modal">
                    <p class="modal__text">Привіт! <br>
Ви потрапили на сайт інтерактивних ігор та завдань<br>
Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
Бажаємо Вам гарно провести час!</p>
        <form class="modal__form">
            <p class="modal__paragraph">Введіть своє ім’я:</p>
            <input type="text" placeholder="Ваше ім’я..." class="modal__input" name="name">
            <button type="submit" class="modal__btn" id="modal__button-sumbitclose">Зберегти</button>
        </form>
         <button type="button" class="button__close" id="modal__button-close">
                <svg class="button__svg">
                    <use href="./img/symbol-defs.svg#icon-cross"></use>
                </svg>
            </button>
            <img src="./img/sword.png" alt="sword" class="modal__swordimg">
            <img src="./img/puzzle.png" alt="puzzle" class="modal__puzzleimg">
            <img src="./img/game-modal.png" alt="game" class="modal__gameimg">
            <img src="./img/tictac-modal.png" alt="tictac" class="modal__tictacimg">
    </div>
</div>