<section class="paper">
    <div class="container paper__box">
        <p class="paper__paragraph">Камінь - ножиці - папір</p>
        <ul class="paper__list">
            <li class="paper__item">
                <button type="button" class="paper__listbtn stone">
                    <img src="./img/stone.png" alt="stone" class="paper__listimg">
                </button>
            </li>
            <li class="paper__item">
                <button type="button" class="paper__listbtn scissors">
                    <img src="./img/scissors.png" alt="scissors" class="paper__listimg">
                </button>
            </li>
            <li class="paper__item">
                <button type="button" class="paper__listbtn paperop">
                    <img src="./img/paper.png" alt="paper" class="paper__listimg">
                </button>
            </li>
        </ul>
        <p class="paper__text"></p>
        <button class="paper__button" type="button">Варіант комп’ютера:<span class="paper__btnspan"></span></button>
        <ul class="paper__sidelist">
            <li class="paper__itemsl">
                <p class="paper__textsl">Рахунок:</p>
            </li>
            <li class="paper__itemsl">
                <p class="paper__textsl computerscore">Комп’ютер -</p>
            </li>
            <li class="paper__itemsl">
                <p class="paper__textsl userscore">Ви -</p>
            </li>
        </ul>
    </div>
</section>