
<section class="team-slider">
    <div class="container ">
  <h2 class="team-slider__title">Наша команда</h2>

   
 
    <button class="team-slider__btn team-slider__btn--prev" type="button"><img src="../img/left.jpg" alt=""></button>
<div class="position">

    <div class="team-slider__track">
      <div class="team-slider__slide">
        <div class="team-slider__photo"></div>
        <h3 class="team-slider__name">Ім’я студента 1</h3>
        <p class="team-slider__info">Інформація про роботу, яку він/вона виконав/ла</p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo"></div>
        <h3 class="team-slider__name">Ім’я студента 2</h3>
        <p class="team-slider__info">Інформація про роботу, яку він/вона виконав/ла</p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo"></div>
        <h3 class="team-slider__name">Ім’я студента 3</h3>
        <p class="team-slider__info">Інформація про роботу, яку він/вона виконав/ла</p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo"></div>
        <h3 class="team-slider__name">Ім’я студента 4</h3>
        <p class="team-slider__info">Інформація про роботу, яку він/вона виконав/ла</p>
      </div>
    </div>

    </div>

    <button class="team-slider__btn team-slider__btn--next" type="button"><img src="../img/right.jpg" alt=""></button>
 


  <div class="team-slider__dots"></div> 
</div>
</section>