<section class="team-slider">
    <div class="container ">
  <h2 class="team-slider__title">Наша команда</h2>

   
 
    <button class="team-slider__btn team-slider__btn--prev" type="button"><img src="./img/left.png" alt=""></button>
<div class="position">

    <div class="team-slider__track">
      <div class="team-slider__slide">
        <div class="team-slider__photo"><img src="./img/anonim.png" alt=""></div>
        <h3 class="team-slider__name">Дячок Артем</h3>
        <p class="team-slider__info">13 років мої хобі це грати у комп’ютерні ігри,вивчення іноземних мов та Frond-end
</p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo"><img src="./img/anonim.png" alt=""></div>
        <h3 class="team-slider__name">Мойсеєнко Тимофій</h3>
        <p class="team-slider__info">13 років, займаюсь дзюдо і фронт-ендом</p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo"><img src="./img/katya.jpg" alt=""></div>
        <h3 class="team-slider__name">Катерина</h3>
        <p class="team-slider__info">16 років, займаюся кінним спортом та фронтендом, люблю подорожувати.</p>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo"><img src="./img/anonim.png" alt=""></div>
        <h3 class="team-slider__name">Пасіч Тимур</h3>
        <p class="team-slider__info"> 15 років, займаюсь фронтендом, люблю грати комп'ютерні ігри і програмувати</p>
      </div>
    </div>

    </div>

    <button class="team-slider__btn team-slider__btn--next" type="button"><img src="./img/right.png" alt=""></button>
 


  <div class="team-slider__dots"></div> 
</div>
</section>