<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="time">
        <div class="container">
            <h2 class="time__title">Калькулятор часу</h2>
            <div>
            <input type="text" placeholder="Введіть число">
            <p class="time_dot">..........................</p>
            <p class="time__result"></p>
            </div>
        </div>
    </section>
</body>
</html>